*{
    font-family: 'Arial', sans-serif; /* Use Arial font */
    font-weight: bold;
    font-style: normal;
}
.container1{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-bottom: 50px;
}
.header{
    text-align: center;
    margin: 50px;
}
.container1 button{
    border-radius: 20%;
    padding: 20px;
    cursor:grab;
    transition: transform 0.3s;
    background-color: aquamarine;
}
.container1 button:hover {
    transform: scale(1.2);
}
#playerDisplay, #computerDisplay{
    text-align: center;
    font-size: 30px;
}
#resultDisplay{
    text-align: center;
    font-size: 60px;
    margin: 20px 0px;
}

#playerScore, #computerScore{
    text-align: center;
    font-size: 25px;
}